<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scribbler Documentation - a code documentation page template for codrops</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/scribbler-global.css">
    <link rel="stylesheet" href="/static/scribbler-doc.css">
    <link rel="author" href="humans.txt">
  </head>
  <body>
    <div class="doc__bg"></div>
    <nav class="header">
      <h1 class="logo">WWin <span class="logo__thin">Doc</span></h1>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
        <li class="menu__item"><a href="/" class="link link--dark"><i class="fa fa-home"></i> Home</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <aside class="doc__nav">
        <ul>
          <li class="selected"><a href="#">{{project.title}}</a></li>
          
          {% for pro in projects %}
          
          {% if pro.id == project.id %}

            {% else %}
            <li class=""><a href="/doc/{{pro.id}}">{{pro.title}}</a></li>
          {% endif %}
            
          {% endfor %}
            
        </ul>
      </aside>
      <article class="doc__content">
        <section class="">
          <h3 class="section__title">{{ project.title }}</h3>
          <p>{{ project.info }}</p>
          <table id="customers">
            <tr>
              <th>Method</th>
              <th>URL</th>
              <th>Title</th>
            </tr>
            
            {% for url in urls %}
            <tr>
              <td>{{ url.method_type }}</td>
              <td>{{ url.url }}</td>
              <td>{{ url.title }}</td>
            </tr>
            {% endfor %}
              
          </table>
          
        </section>
<hr>
        <section class="">
          
          {% for url in urls %}
            <h3 class="section__title">{{url.title}}</h3>
            <p>{{url.info}}</p>
            <b>URL:</b> 
            <pre class="code code--block" style="padding: 20px;">
              {{url.url}}<button type="button" data-url="{{url.url}}" style="float: right;" class="copytext fa fa-copy"></button>
            </pre>
            <b>Method:</b> {{url.method_type}}
            <br><br>
            <b>Request type:</b> <code>{{url.request_type}}</code>
            <br><br>
            <b>Request:</b>
            <pre class="code code--block">
              <code>
                {{url.request}}
              </code>
            </pre>
            <br>
            <b>Response:</b>
            <pre class="code code--block">
              <code>
                {{url.response}}
              </code>
            </pre>
            <hr>
          {% endfor %}
            
          

        </section>

      </article>
    </div>

    <footer class="footer">Scribbler is a free HTML template created exclusively for <a href="https://tympanus.net/codrops/" target="_blank" class="link link--light">Codrops</a>.</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/static/scribbler.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
    <script>
      $('button.copytext').on('click', function(){
        navigator.clipboard.writeText($(this).data('url'))
      })
    </script>
  </body>
</html>